.ImagesForPC {
	margin-bottom: 10%;
}

.footer-sittings {
	background-color: grey;
}

.p-tittle {
	margin-bottom: 3%;
}

.conteiner-for-nav nav.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}

.img-responsive {
	width: 100%;
}
